/* Valoliitto additions */
.namebar {
    width: 100%;
	margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    text-align: center;
    font-family: OpenSans, arial, "sans-serif";
    background-color: $bg;
    color: $haze;
    font-size: 45px;
    line-height: 42px;
    text-decoration: none;
}
/*
h2.link_owner {
	display: none;
}
*/