<script type='text/javascript'>

var valittu = document.getElementById('jaseneksi');
if (valittu)
{
   if (valittu.selectedIndex != null)
   {
       valittu.selectedIndex = 0;
   } 
}
if ($('#jaseneksi option:selected').length == 0) { alert('Ammattia ei valittu'); }
</script>
<div id="jaseneksi">
    <form method="post" action="{{ .Site.Params.jaseneksiFormSubmitUrl }}">
        <p><label for="fname"><b>Etunimesi (Kaikki etunimet) *</b></label>
            <input name="fname" id="fname" type="text" tabindex="1" required></p>
        <p><label for="lname"><b>Sukunimesi *</b></label>
            <input name="lname" id="lname" type="text" tabindex="2" required></p>

        <p><label for="posoite"><b>Postiosoitteesi *</b></label>
            <input name="posoite" id="posoite" type="text" tabindex="3" required></p>
        <p><label for="pnumero"><b>Postinumerosi *</b></label>
            <input name="pnumero" id="pnumero" type="text" tabindex="4" required></p>
        <p><label for="ptoimipaikka"><b>Postitoimipaikkasi *</b></label>
            <input name="ptoimipaikka" id="ptoimipaikka" type="text" tabindex="5" required></p>
        <p><label for="kkunta"><b>Kotikuntasi *</b></label>
            <input name="kkunta" id="kkunta" placeholder="Kirjaa kotikuntasi vaikka olisii sama kuin postitoimipaikka" type="text" tabindex="6" required></p>
        <p><label for="ammatti"><b>Ammattisi *</b></label>
       			{{ partial "ammatit-dropdown.html" . }}

        <p><label for="exliitto"><b>Ex-liittosi *</b></label>
            <input name="exliitto" id="exliitto" placeholder="'En siirry', jos et siirry mistään." type="text" tabindex="7" required></p>
        <p><label for="vuositulo"><b>Vuositulosi *</b></label>
            <input name="vuositulo" id="vuositulo" type="text" tabindex="8" required></p>            
            
        <p><label for="hetu"><b>Henkilötunnuksesi *</b></label>
            <input name="hetu" id="hetu" type="hetu" tabindex="9" required></p>
            
        <p><label for="email"><b>Sähköpostiosoitteesi *</b></label>
            <input name="email" id="email" type="email" tabindex="10" required></p>
        <p><label for="phone"><b>Puhelinnumerosi *</b></label>
            <input name="phone" id="phone" type="tel" tabindex="11" required></p>

        <p><label for="message"><b>Viestisi</b></label>
            <textarea name="message" id="message" style="padding: 0.5rem; width: 100%; max-width: 100%"
                placeholder="Mahdollinen viestisi hallitukselle (vapaaehtoinen). Jos ammattiasi ei ole listalla, anna se tässä." tabindex="12" rows="10"></textarea></p>
            <input type="hidden" name="_language" value="fi" />
<div class="huomaa">

Lähettämällä lomakkeen sitoudut <a href="/saannot/">liiton sääntöihin</a>ja sitoudut suorittamaan yllä kuvatun mukaisen etumaksun. Annat myös luvan tallentaa tietosi <a href="/tietosuoja/">jäsenrekisteriimme</a>.

</div>
        <button class="button" name="submit" type="submit" id="contact-submit"
            data-submit="...Lähettää">Lähetä jäsenanomuksesi</button>
    </form>
</div>


<style>
    #jaseneksi {
        margin-top: 1rem;
    }
    #jaseneksi input,
    #jaseneksi textarea {
        width: 30rem;
        max-width: 100%;
    }
</style>