<!-- https://stackoverflow.com/questions/42927819/redirection-after-successful-form-submit 
Note that the submit event is triggered by the form but the click event is triggered by the input element.






-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script>
$(document).ready(function(){
$(".hide_alert").click(function(){
    $('#paluu-ok').css("display","none");
});

$(".show_alert").click(function(){
    $('#paluu-ok').css("display","initial");
});
});
</script>


<div id="jaseneksi">
    <form id="jaseneksi-lomake" method="post" action="{{ .Site.Params.jaseneksiFormSubmitUrl }}">
        <p><label for="fname"><b>Etunimesi (Kaikki etunimet) *</b></label>
            <input name="fname" id="fname" type="text" tabindex="1" required></p>
        <p><label for="lname"><b>Sukunimesi *</b></label>
            <input name="lname" id="lname" type="text" tabindex="2" required></p>

        <p><label for="posoite"><b>Postiosoitteesi *</b></label>
            <input name="posoite" id="posoite" type="text" tabindex="3" required></p>
        <p><label for="pnumero"><b>Postinumerosi *</b></label>
            <input name="pnumero" id="pnumero" type="text" tabindex="4" required></p>
        <p><label for="ptoimipaikka"><b>Postitoimipaikkasi *</b></label>
            <input name="ptoimipaikka" id="ptoimipaikka" type="text" tabindex="5" required></p>
        <p><label for="kkunta"><b>Kotikuntasi *</b></label>
            <input name="kkunta" id="kkunta" placeholder="Kirjaa kotikuntasi vaikka olisi sama kuin postitoimipaikka" type="text" tabindex="6" required></p>
        <p><label for="koulutus"><b>Koulutuksesi *</b></label>
            <input name="koulutus" id="koulutus" placeholder="Kirjaa kaikki koulutuksesi ja oppiarvosi" type="text" tabindex="7" required></p>
        <p><label for="ammatti"><b>Ammattisi *</b></label>
       			{{ partial "ammatit-dropdown.html" . }}

        <p><label for="exliitto"><b>Aiempi ammattiliittosi *</b></label>
            <input name="exliitto" id="exliitto" placeholder="'En siirry', jos et siirry mistään." type="text" tabindex="8" required></p>
        <p><label for="vuositulo"><b>Vuositulosi *</b></label>
            <input name="vuositulo" id="vuositulo" placeholder="Bruttotulosi, mikroyrittäjältä Myel/Yel-tulo" type="text" tabindex="9" required></p>            
            
        <p><label for="hetu"><b>Henkilötunnuksesi *</b></label>
            <input name="hetu" id="hetu" type="text" tabindex="10" required></p>
            
        <p><label for="email"><b>Sähköpostiosoitteesi *</b></label>
            <input name="email" id="email" type="email" tabindex="11" required></p>
        <p><label for="phone"><b>Puhelinnumerosi *</b></label>
            <input name="phone" id="phone" type="tel" tabindex="12" required></p>

        <p><label for="message"><b>Viestisi</b></label>
            <textarea name="message" id="message" style="padding: 0.5rem; width: 100%; max-width: 100%"
                placeholder="Mahdollinen viestisi hallitukselle (vapaaehtoinen). Jos ammattiasi ei ole listalla, anna se tässä." tabindex="12" rows="10"></textarea></p>
            <input type="hidden" name="_language" value="fi" />
		<div class="huomaa">Lähettämällä lomakkeen sitoudut <a href="/saannot/">liiton sääntöihin</a> ja sitoudut suorittamaan yllä kuvatun mukaisen ennakkomaksun. Annat myös luvan tallentaa tietosi <a href="/tietosuoja/">jäsenrekisteriimme</a>.</div>
            <input type="hidden" name="ok" value="true" />

		
        <button class="button" name="submit" type="submit" id="contact-submit"
            data-submit="...Lähettää">Lähetä jäsenanomuksesi</button>
    </form>
    <h3 id="paluu-ok" class="alert alert-success hide-initially ok-label" role="alert"><a href="/">Voit nyt palata sivustolle</a></h3>
</div>


<style>
	h3.hide-initially {
		display:none;
	}
    #jaseneksi {
        margin-top: 1rem;
    }
    #jaseneksi-lomake input[type=text],
    #jaseneksi-lomake input[type=tel],
    #jaseneksi-lomake input[type=email]  {
        width: 32rem;
        height: 32px;
    }
    #jaseneksi-lomake textarea  {
        width: 30rem;
        height: 175px;
    }

#jaseneksi-lomake button  {
        width: 12rem;
        height: 40px;
        margin-top: 25px;
    }

	  #jaseneksi::after {
	  	width:40rem;
  		content: "Muistathan: pysy työttömyyskassassasi!";
  		background-color: #fff;
        border: 1px solid #666;
        color: #000;
        padding: 10px 15px;
        text-align: center;
        display: inline-block;
        font-size: 1.2rem;
        margin: 15px;
        margin-top:75px;
        cursor: none;
}
	.ok-label {
        background-color: #01ff01;
        border: 1px solid #666;
        color: #000;
        padding: 10px 15px;
        text-align: center;
        display: inline-block;
        font-size: 1.2rem;
        margin: 15px;
        cursor: pointer;
        max-width: 350px;
      }
</style>