<script type='text/javascript'>

var valittu = document.getElementById('jaseneksi');
if (valittu)
{
   if (valittu.selectedIndex != null)
   {
       valittu.selectedIndex = 0;
   } 
}
if ($('#jaseneksi option:selected').length == 0) { alert('Ammattia ei valittu'); }
</script>
<div id="jaseneksi">
    <form method="post" action="{{ .Site.Params.jaseneksiFormSubmitUrl }}">
        <p><label for="fname"><b>Etunimesi (Kaikki etunimet) *</b></label>
            <input name="fname" id="fname" type="text" tabindex="1" required></p>
        <p><label for="lname"><b>Sukunimesi *</b></label>
            <input name="lname" id="lname" type="text" tabindex="2" required></p>

        <p><label for="posoite"><b>Postiosoitteesi *</b></label>
            <input name="posoite" id="posoite" type="text" tabindex="3" required></p>
        <p><label for="pnumero"><b>Postinumerosi *</b></label>
            <input name="pnumero" id="pnumero" type="text" tabindex="4" required></p>
        <p><label for="ptoimipaikka"><b>Postitoimipaikkasi *</b></label>
            <input name="ptoimipaikka" id="ptoimipaikka" type="text" tabindex="5" required></p>

        <p><label for="ammatti"><b>Ammattisi *</b></label>
            <select name = "ammatti" id="ammatti" required>
<option value = "">Valitse listasta</option>
<option value = "">Ammattiani ei ole listassa</option>
<option value = "aarporaaja">Aarporaaja</option>
<option value = "agrologi">Agrologi</option>
<option value = "agronomi">Agronomi</option>
<option value = "ahtaaja">Ahtaaja</option>
<option value = "aikataulusuunnittelija">Aikataulusuunnittelija</option>
<option value = "aineenopettaja">Aineenopettaja</option>
<option value = "ajojarjestelijä">Ajojärjestelijä</option>
<option value = "ajokaluseppä">Ajokaluseppä</option>
<option value = "ajoneuvoasentaja">Ajoneuvoasentaja</option>
<option value = "allasvalvoja">Allasvalvoja</option>
<option value = "aluekappalainen">Aluekappalainen</option>
<option value = "alueohjaaja">Alueohjaaja</option>
<option value = "aluepaallikkö">Aluepäällikkö</option>
<option value = "aluetekniikanprojektipaallikkö">Aluetekniikan projektipäällikkö</option>
<option value = "amanuenssi">Amanuenssi</option>
<option value = "ammatinvalintapsykologi">Ammatinvalintapsykologi</option>
<option value = "ammattikalastaja">Ammattikalastaja</option>
<option value = "ammattikorkeakouluopettaja">Ammattikorkeakouluopettaja</option>
<option value = "ammattisotilas">Ammattisotilas</option>
<option value = "ammattiurheilija">Ammattiurheilija</option>
<option value = "analyytikko">Analyytikko</option>
<option value = "animaattori">Animaattori</option>
<option value = "apteekkari">Apteekkari</option>
<option value = "apuhoitaja">Apuhoitaja</option>
<option value = "apulaisasemakaavapaallikkö">Apulaisasemakaavapäällikkö</option>
<option value = "apulaiskaupunginjohtaja">Apulaiskaupunginjohtaja</option>
<option value = "apulaisohjaaja">Apulaisohjaaja</option>
<option value = "apuneuvoteknikko">Apuneuvoteknikko</option>
<option value = "arboristi">Arboristi</option>
<option value = "arkeologi">Arkeologi</option>
<option value = "arkistonhoitaja">Arkistonhoitaja</option>
<option value = "arkkitehti">Arkkitehti</option>
<option value = "artdirector">Art Director</option>
<option value = "artesaani">Artesaani</option>
<option value = "asemakaava-arkkitehti">Asemakaava-arkkitehti</option>
<option value = "asemakaavapaallikkö">Asemakaavapäällikkö</option>
<option value = "asemakaavasuunnittelija">Asemakaavasuunnittelija</option>
<option value = "asennuspaallikkö">Asennuspäällikkö</option>
<option value = "asennustyonjohtaja">Asennustyönjohtaja</option>
<option value = "asentaja">Asentaja</option>
<option value = "asentaja-suunnittelija">Asentaja-suunnittelija</option>
<option value = "aseseppä">Aseseppä</option>
<option value = "asiakashankkija">Asiakashankkija</option>
<option value = "asiakaspalveluinsinoori">Asiakaspalveluinsinööri</option>
<option value = "asiakasvastaava">Asiakasvastaava</option>
<option value = "asianajaja">Asianajaja</option>
<option value = "asioimistulkki">Asioimistulkki</option>
<option value = "askartelunohjaaja">Askartelunohjaaja</option>
<option value = "astronomi">Astronomi</option>
<option value = "astrologi">Astrologi</option>
<option value = "atk-paallikkö">ATK-päällikkö</option>
<option value = "atk-tallentaja">ATK-tallentaja</option>
<option value = "atk-suunnittelija">ATK-suunnittelija</option>
<option value = "audionomi">Audionomi</option>
<option value = "aupair">Au pair</option>
<option value = "automaalari">Automaalari</option>
<option value = "automaatioasentaja">Automaatioasentaja</option>
<option value = "automaatiosuunnittelija">Automaatiosuunnittelija</option>
<option value = "autonasentaja">Autonasentaja</option>
<option value = "autonkuljettaja">Autonkuljettaja</option>
<option value = "autopeltiseppä">Autopeltiseppä</option>
<option value = "baarimestari">Baarimestari</option>
<option value = "balettimestari">Balettimestari</option>
<option value = "balettipedagogi">Balettipedagogi</option>
<option value = "barista">Barista</option>
<option value = "betoniekspertti">Betoniekspertti</option>
<option value = "betonilaborantti">Betonilaborantti</option>
<option value = "bioanalyytikko">Bioanalyytikko</option>
<option value = "biokemisti">Biokemisti</option>
<option value = "biologi">Biologi</option>
<option value = "cnc-koneistaja">CNC-koneistaja</option>
<option value = "controller">Controller</option>
<option value = "copywriter">Copywriter</option>
<option value = "datanomi">Datanomi</option>
<option value = "diakoni">Diakoni</option>
<option value = "dramaturgi">Dramaturgi</option>
<option value = "digi-insinoori">Digi-insinööri</option>
<option value = "ekologi">Ekologi</option>
<option value = "ekonomi">Ekonomi</option>
<option value = "elektroniikka-asentaja">Elektroniikka-asentaja</option>
<option value = "elektroniikkainsinoori">Elektroniikkainsinööri</option>
<option value = "elementtisuunnittelija">Elementtisuunnittelija</option>
<option value = "elinkeinoasiamies">Elinkeinoasiamies</option>
<option value = "elintarviketyontekijä">Elintarviketyöntekijä</option>
<option value = "elokuvaleikkaaja">Elokuvaleikkaaja</option>
<option value = "elokuvaohjaaja">Elokuvaohjaaja</option>
<option value = "elainkaupanmyyjä">Eläinkaupan myyjä</option>
<option value = "eläinläakari">Eläinlääkäri</option>
<option value = "elaintenhoitaja">Eläintenhoitaja</option>
<option value = "elamysopas">Elämysopas</option>
<option value = "enologi">Enologi</option>
<option value = "ensihoitaja">Ensihoitaja</option>
<option value = "ensihoitoläakari">Ensihoitolääkäri</option>
<option value = "erikoisläakari">Erikoislääkäri</option>
<option value = "erikoispoliisi">Erikoispoliisi</option>
<option value = "erikoissairaanhoitaja">Erikoissairaanhoitaja</option>
<option value = "erikoissiivooja">Erikoissiivooja</option>
<option value = "erikoistutkija">Erikoistutkija</option>
<option value = "erityisopettaja">Erityisopettaja</option>
<option value = "era- jaluonto-opas">Erä- ja luonto-opas</option>
<option value = "esimies">Esimies</option>
<option value = "eteisvahtimestari">Eteisvahtimestari</option>
<option value = "etuputsari">Etuputsari</option>
<option value = "farmakologi">Farmakologi</option>
<option value = "farmanomi">Farmanomi</option>
<option value = "farmaseutti">Farmaseutti</option>
<option value = "floristi">Floristi</option>
<option value = "freelancer">Freelancer</option>
<option value = "fysiologi">Fysiologi</option>
<option value = "fysioterapeutti">Fysioterapeutti</option>
<option value = "fyysikko">Fyysikko</option>
<option value = "geneetikko">Geneetikko</option>
<option value = "geologi">Geologi</option>
<option value = "geotekninenprojektipaallikkö">Geotekninen projektipäällikkö</option>
<option value = "geotekninensuunnittelija">Geotekninen suunnittelija</option>
<option value = "graafinensuunnittelija">Graafinen suunnittelija</option>
<option value = "grynderi">Grynderi</option>
<option value = "gynekologi">Gynekologi</option>
<option value = "hakkurinkuljettaja">Hakkurinkuljettaja</option>
<option value = "hallintolakimies">Hallintolakimies</option>
<option value = "hallintopaallikkö">Hallintopäällikkö</option>
<option value = "hallitusammattilainen">Hallitusammattilainen</option>
<option value = "hammashoitaja">Hammashoitaja</option>
<option value = "hammashuoltaja">Hammashuoltaja</option>
<option value = "hammasläakari">Hammaslääkäri</option>
<option value = "hammasteknikko">Hammasteknikko</option>
<option value = "hankintapaallikkö">Hankintapäällikkö</option>
<option value = "haudankaivaja">Haudankaivaja</option>
<option value = "hautakivisuunnittelija">Hautakivisuunnittelija</option>
<option value = "helikopterilentajä">Helikopterilentäjä</option>
<option value = "hengenpelastaja">Hengenpelastaja</option>
<option value = "henkilokohtainenavustaja">Henkilökohtainen avustaja</option>
<option value = "henkilostokonsultti">Henkilöstökonsultti</option>
<option value = "henkivartija">Henkivartija</option>
<option value = "hienomekaanikko">Hienomekaanikko</option>
<option value = "hienopuuseppä">Hienopuuseppä</option>
<option value = "hieroja">Hieroja</option>
<option value = "hirsitalonsuunnittelija">Hirsitalon suunnittelija</option>
<option value = "hitsaaja">Hitsaaja</option>
<option value = "hollaaja">Hollaaja</option>
<option value = "homeopaatti">Homeopaatti</option>
<option value = "hortonomi">Hortonomi</option>
<option value = "hotellinjohtaja">Hotellinjohtaja</option>
<option value = "hovimestari">Hovimestari</option>
<option value = "huolitsija">Huolitsija</option>
<option value = "huoltoasematyontekijä">Huoltoasematyöntekijä</option>
<option value = "huoltoasentaja">Huoltoasentaja</option>
<option value = "huoltoinsinoori">Huoltoinsinööri</option>
<option value = "huoltomiestenesimies">Huoltomiesten esimies</option>
<option value = "huoltopoliisi">Huoltopoliisi</option>
<option value = "huoltopaallikkö">Huoltopäällikkö</option>
<option value = "huoltoteknikko">Huoltoteknikko</option>
<option value = "huonekalumyyjä">Huonekalumyyjä</option>
<option value = "huumepoliisi">Huumepoliisi</option>
<option value = "hyttisiivooja">Hyttisiivooja</option>
<option value = "hätäkeskuspaivystajä">Hätäkeskuspäivystäjä</option>
<option value = "haasuunnittelija">Hääsuunnittelija</option>
<option value = "ict-asentaja">ICT-asentaja</option>
<option value = "ikkunamyyjä">Ikkunamyyjä</option>
<option value = "ikkunanpesijä">Ikkunanpesijä</option>
<option value = "ilmanvaihtoasentaja">Ilmanvaihtoasentaja</option>
<option value = "immunologi">Immunologi</option>
<option value = "informaatikko">Informaatikko</option>
<option value = "insinoori">Insinööri</option>
<option value = "isannoitsijä">Isännöitsijä</option>
<option value = "it-tukihenkilö">IT-tukihenkilö</option>
<option value = "jalkojenhoitaja">Jalkojenhoitaja</option>
<option value = "jalostaja">Jalostaja</option>
<option value = "johtajaläakari">Johtajalääkäri</option>
<option value = "johtavakorjausrakennesuunnittelija">Johtava korjausrakennesuunnittelija</option>
<option value = "johtavamaatalouslomittaja">Johtava maatalouslomittaja</option>
<option value = "junasuorittaja">Junasuorittaja</option>
<option value = "juontaja">Juontaja</option>
<option value = "juotostarkastaja">Juotostarkastaja</option>
<option value = "juristi">Juristi</option>
<option value = "juristilingvisti">Juristilingvisti</option>
<option value = "jarjestelmaasiantuntija">Järjestelmäasiantuntija</option>
<option value = "jarjestelymestari">Järjestelymestari</option>
<option value = "jarjestyksenvalvoja">Järjestyksenvalvoja</option>
<option value = "jateautonkuljettaja">Jäteautonkuljettaja</option>
<option value = "kadunrakennusmestari">Kadunrakennusmestari</option>
<option value = "kalakauppias">Kalakauppias</option>
<option value = "kalastaja">Kalastaja</option>
<option value = "kalastusmestari">Kalastusmestari</option>
<option value = "kamera-assistentti">Kamera-assistentti</option>
<option value = "kampaaja">Kampaaja</option>
<option value = "kamreeri">Kamreeri</option>
<option value = "kankuri">Kankuri</option>
<option value = "kansanedustaja">Kansanedustaja</option>
<option value = "kansimies">Kansimies</option>
<option value = "kanttori">Kanttori</option>
<option value = "kapellimestari">Kapellimestari</option>
<option value = "kapteeni">Kapteeni</option>
<option value = "karkaisija">Karkaisija</option>
<option value = "kartoittaja">Kartoittaja</option>
<option value = "kassanhoitaja">Kassanhoitaja</option>
<option value = "katusuunnitteluyksikonpaallikkö">Katusuunnitteluyksikön päällikkö</option>
<option value = "katutekniikanprojektipaallikkö">Katutekniikan projektipäällikkö</option>
<option value = "kauppias">Kauppias</option>
<option value = "kaupunginarkkitehti">Kaupunginarkkitehti</option>
<option value = "kaupungininsinoori">Kaupungininsinööri</option>
<option value = "kaupunginjohtaja">Kaupunginjohtaja</option>
<option value = "kehitysinsinoori">Kehitysinsinööri</option>
<option value = "kehitysvammaistenhoitaja">Kehitysvammaisten hoitaja</option>
<option value = "kehitysvammaistenohjaaja">Kehitysvammaisten ohjaaja</option>
<option value = "keittiomestari">Keittiömestari</option>
<option value = "keittiopaallikkö">Keittiöpäällikkö</option>
<option value = "kelloseppä">Kelloseppä</option>
<option value = "kemisti">Kemisti</option>
<option value = "kengitysseppä">Kengitysseppä</option>
<option value = "kenttapoliisi">Kenttäpoliisi</option>
<option value = "keramiikka- jalasitaiteilija">Keramiikka- ja lasitaiteilija</option>
<option value = "kerailijä">Keräilijä</option>
<option value = "kielenkäantajä">Kielenkääntäjä</option>
<option value = "kieliteknologi">Kieliteknologi</option>
<option value = "kieltenopettaja">Kielten opettaja</option>
<option value = "kieltentutkija">Kielten tutkija</option>
<option value = "kiinteistonhoitaja">Kiinteistönhoitaja</option>
<option value = "kiertonainen">Kiertonainen</option>
<option value = "kiinteistonvalittajä">Kiinteistönvälittäjä</option>
<option value = "kiinteistorakennusmestari">Kiinteistörakennusmestari</option>
<option value = "kilpakuljettaja">Kilpakuljettaja</option>
<option value = "kirjailija">Kirjailija</option>
<option value = "kirjakaupanmyyjä">Kirjakaupan myyjä</option>
<option value = "kirjanpitajä">Kirjanpitäjä</option>
<option value = "kirjastonhoitaja">Kirjastonhoitaja</option>
<option value = "kirurgi">Kirurgi</option>
<option value = "kirvesmies">Kirvesmies</option>
<option value = "kiventekijä">Kiventekijä</option>
<option value = "klovni">Klovni</option>
<option value = "kodinhoitaja">Kodinhoitaja</option>
<option value = "kodinhuoltaja">Kodinhuoltaja</option>
<option value = "kodinkonemyyjä">Kodinkonemyyjä</option>
<option value = "koiranohjaaja">Koiranohjaaja</option>
<option value = "kokki">Kokki</option>
<option value = "kondiittori">Kondiittori</option>
<option value = "konduktoori">Konduktööri</option>
<option value = "koneenhoitaja">Koneenhoitaja</option>
<option value = "koneenkuljettaja">Koneenkuljettaja</option>
<option value = "koneapulainen">Koneapulainen</option>
<option value = "koneistaja">Koneistaja</option>
<option value = "konemestari">Konemestari</option>
<option value = "konsulentti">Konsulentti</option>
<option value = "konsultti">Konsultti</option>
<option value = "konservaattori">Konservaattori</option>
<option value = "korjausrakennesuunnittelija">Korjausrakennesuunnittelija</option>
<option value = "korjaussuunnittelija">Korjaussuunnittelija</option>
<option value = "korrepetiittori">Korrepetiittori</option>
<option value = "kosmetologi">Kosmetologi</option>
<option value = "kosteuskartoittaja">Kosteuskartoittaja</option>
<option value = "kotitalousneuvoja">Kotitalousneuvoja</option>
<option value = "kotitalousopettaja">Kotitalousopettaja</option>
<option value = "kotiaiti">Kotiäiti</option>
<option value = "koululäakari">Koululääkäri</option>
<option value = "koulunkayntiavustaja">Koulunkäyntiavustaja</option>
<option value = "koulupoliisi">Koulupoliisi</option>
<option value = "koulupsykologi">Koulupsykologi</option>
<option value = "koulusihteeri">Koulusihteeri</option>
<option value = "kouluterveydenhoitaja">Kouluterveydenhoitaja</option>
<option value = "koulutettuhieroja">Koulutettu hieroja</option>
<option value = "koulutussuunnittelija">Koulutussuunnittelija</option>
<option value = "kriitikko">Kriitikko</option>
<option value = "kuiskaaja">Kuiskaaja</option>
<option value = "kuivausasentaja">Kuivausasentaja</option>
<option value = "kuivauskartoittaja">Kuivauskartoittaja</option>
<option value = "kuljetusalajohtaja">Kuljetusalajohtaja</option>
<option value = "kultaseppä">Kultaseppä</option>
<option value = "kulttuurivalittajä">Kulttuurivälittäjä</option>
<option value = "kuluttajaneuvoja">Kuluttajaneuvoja</option>
<option value = "kunnallispoliisi">Kunnallispoliisi</option>
<option value = "kunnanjohtaja">Kunnanjohtaja</option>
<option value = "kunnossapidonesimies">Kunnossapidon esimies</option>
<option value = "kunnossapitopaallikkö">Kunnossapitopäällikkö</option>
<option value = "kuntoarvioija">Kuntoarvioija</option>
<option value = "kuntohoitaja">Kuntohoitaja</option>
<option value = "kuorma-autonkuljettaja">Kuorma-autonkuljettaja</option>
<option value = "kuriiri">Kuriiri</option>
<option value = "kustannustoimittaja">Kustannustoimittaja</option>
<option value = "kutoja">Kutoja</option>
<option value = "kuulontutkija">Kuulontutkija</option>
<option value = "kuvaaja">Kuvaaja</option>
<option value = "kuvataideopettaja">Kuvataideopettaja</option>
<option value = "kuvanauhoittaja">Kuvanauhoittaja</option>
<option value = "kuvanveistajä">Kuvanveistäjä</option>
<option value = "kuvaussihteeri">Kuvaussihteeri</option>
<option value = "kuvittaja">Kuvittaja</option>
<option value = "kärajatuomari">Käräjätuomari</option>
<option value = "kasikirjoittaja">Käsikirjoittaja</option>
<option value = "katilö">Kätilö</option>
<option value = "kayttöinsinoori">Käyttöinsinööri</option>
<option value = "käyttopaallikkö">Käyttöpäällikkö</option>
<option value = "kayttoteknikko">Käyttöteknikko</option>
<option value = "käantajä">Kääntäjä</option>
<option value = "laatuinsinoori">Laatuinsinööri</option>
<option value = "laatupaallikkö">Laatupäällikkö</option>
<option value = "laborantti">Laborantti</option>
<option value = "laboratorioanalyytikko">Laboratorioanalyytikko</option>
<option value = "laboratorionhoitaja">Laboratorionhoitaja</option>
<option value = "laitoshuoltaja (paivakotiyms.)">Laitoshuoltaja (päiväkoti yms.)</option>
<option value = "laitosmies">Laitosmies</option>
<option value = "laivanrakennustaitaja">Laivanrakennustaitaja</option>
<option value = "laivapoliisi">Laivapoliisi</option>
<option value = "lakimies">Lakimies</option>
<option value = "lasinpuhaltaja">Lasinpuhaltaja</option>
<option value = "lasittaja">Lasittaja</option>
<option value = "lastenhoitaja">Lastenhoitaja</option>
<option value = "lastenohjaaja">Lastenohjaaja</option>
<option value = "lastentarhanopettaja">Lastentarhanopettaja</option>
<option value = "laulaja">Laulaja</option>
<option value = "lauluntekijä">Lauluntekijä</option>
<option value = "lavastaja">Lavastaja</option>
<option value = "lavasterakentaja">Lavasterakentaja</option>
<option value = "lehdenjakaja">Lehdenjakaja</option>
<option value = "lehtori">Lehtori</option>
<option value = "leipuri">Leipuri</option>
<option value = "lennonjohtaja">Lennonjohtaja</option>
<option value = "lennonopettaja">Lennonopettaja</option>
<option value = "lentoasemahuoltaja">Lentoasemahuoltaja</option>
<option value = "lentoemantä">Lentoemäntä</option>
<option value = "lentokenttapoliisi">Lentokenttäpoliisi</option>
<option value = "lentokoneasentaja">Lentokoneasentaja</option>
<option value = "lentajä">Lentäjä</option>
<option value = "levyseppä">Levyseppä</option>
<option value = "levyseppahitsaaja">Levyseppähitsaaja</option>
<option value = "lihakauppias">Lihakauppias</option>
<option value = "lihanleikkaaja">Lihanleikkaaja</option>
<option value = "liikenneinsinoori">Liikenneinsinööri</option>
<option value = "liikennelentajä">Liikennelentäjä</option>
<option value = "liikenneohjaaja">Liikenneohjaaja</option>
<option value = "liikenneopettaja">Liikenneopettaja</option>
<option value = "liikennepoliisi">Liikennepoliisi</option>
<option value = "liikennesuunnittelunprojektipaallikkö">Liikennesuunnittelun projektipäällikkö</option>
<option value = "liiketoimintapaallikkö">Liiketoimintapäällikkö</option>
<option value = "liikunnanohjaaja">Liikunnanohjaaja</option>
<option value = "liikunnanopettaja">Liikunnanopettaja</option>
<option value = "liikuntakoordinaattori">Liikuntakoordinaattori</option>
<option value = "liikuntapaikkojenhoitaja">Liikuntapaikkojenhoitaja</option>
<option value = "limnologi">Limnologi</option>
<option value = "linja-autonkuljettaja">Linja-autonkuljettaja</option>
<option value = "lipuntarkastaja">Lipuntarkastaja</option>
<option value = "logistiikanprojektipaallikkö">Logistiikan projektipäällikkö</option>
<option value = "lossinkuljettaja">Lossinkuljettaja</option>
<option value = "lujuusopintaitaja">Lujuusopin taitaja</option>
<option value = "lukkoseppä">Lukkoseppä</option>
<option value = "lumenpudottaja">Lumenpudottaja</option>
<option value = "luokanopettaja">Luokanopettaja</option>
<option value = "luotonvalvoja">Luotonvalvoja</option>
<option value = "luotsi">Luotsi</option>
<option value = "luottoneuvoja">Luottoneuvoja</option>
<option value = "lupa-arkkitehti">Lupa-arkkitehti</option>
<option value = "lupainsinoori">Lupainsinööri</option>
<option value = "lvi-asentaja">LVI-asentaja</option>
<option value = "lvi-insinoori">LVI-insinööri</option>
<option value = "lv-projektipaallikkö">LV-projektipäällikkö</option>
<option value = "lahetti">Lähetti</option>
<option value = "lahetyssihteeri">Lähetyssihteeri</option>
<option value = "lahihoitaja">Lähihoitaja</option>
<option value = "lahtoporttivirkailija">Lähtöporttivirkailija</option>
<option value = "lammittajä">Lämmittäjä</option>
<option value = "laaketyontekijä">Lääketyöntekijä</option>
<option value = "läakintavahtimestari">Lääkintävahtimestari</option>
<option value = "läakari">Lääkäri</option>
<option value = "laaninrovasti">Lääninrovasti</option>
<option value = "maalari">Maalari</option>
<option value = "maanhankintaininsinoori">Maanhankintaininsinööri</option>
<option value = "maankaytonsuunnittelija">Maankäytön suunnittelija</option>
<option value = "maanmittausinsinoori">Maanmittausinsinööri</option>
<option value = "maanviljelijä">Maanviljelijä</option>
<option value = "maatalouslomittaja">Maatalouslomittaja</option>
<option value = "maataloustyontekijä">Maataloustyöntekijä</option>
<option value = "maatalousyrittajä">Maatalousyrittäjä</option>
<option value = "maarakennuskoneenkuljettaja">Maarakennuskoneenkuljettaja</option>
<option value = "mainostenjakaja">Mainostenjakaja</option>
<option value = "mainosyrittajä">Mainosyrittäjä</option>
<option value = "maisema-arkkitehti">Maisema-arkkitehti</option>
<option value = "maitoautonkuljettaja">Maitoautonkuljettaja</option>
<option value = "majakanvartija">Majakanvartija</option>
<option value = "malli">Malli</option>
<option value = "markkinointipaallikkö">Markkinointipäällikkö</option>
<option value = "maskeeraaja">Maskeeraaja</option>
<option value = "matemaatikko">Matemaatikko</option>
<option value = "matematiikanopettaja">Matematiikan opettaja</option>
<option value = "matkailuneuvoja">Matkailuneuvoja</option>
<option value = "matkailutiedottaja">Matkailutiedottaja</option>
<option value = "matkailuvirkailija">Matkailuvirkailija</option>
<option value = "matkaopas">Matkaopas</option>
<option value = "matkatoimistovirkailija">Matkatoimistovirkailija</option>
<option value = "matruusi">Matruusi</option>
<option value = "media-assistentti">Media-assistentti</option>
<option value = "medianomi">Medianomi</option>
<option value = "mediasuunnittelija">Mediasuunnittelija</option>
<option value = "meedio">Meedio</option>
<option value = "meijeristi">Meijeristi</option>
<option value = "mekaniikkasuunnittelija">Mekaniikkasuunnittelija</option>
<option value = "mekaniikkasuunnittelupaallikkö">Mekaniikkasuunnittelupäällikkö</option>
<option value = "meklari">Meklari</option>
<option value = "meribiologi">Meribiologi</option>
<option value = "merikapteeni">Merikapteeni</option>
<option value = "merimies">Merimies</option>
<option value = "merivahingonlaskija">Merivahingonlaskija</option>
<option value = "merivartija">Merivartija</option>
<option value = "merkonomi">Merkonomi</option>
<option value = "meteorologi">Meteorologi</option>
<option value = "metrojunankuljettaja">Metrojunan kuljettaja</option>
<option value = "metsuri">Metsuri</option>
<option value = "metsakoneasentaja">Metsäkoneasentaja</option>
<option value = "metsakoneenkuljettaja">Metsäkoneenkuljettaja</option>
<option value = "metsanhoitaja">Metsänhoitaja</option>
<option value = "metsanvartija">Metsänvartija</option>
<option value = "metsatalousinsinoori">Metsätalousinsinööri</option>
<option value = "mielenterveyshoitaja">Mielenterveyshoitaja</option>
<option value = "mielisairaanhoitaja">Mielisairaanhoitaja</option>
<option value = "mikrobiologi">Mikrobiologi</option>
<option value = "mikromekaanikko">Mikromekaanikko</option>
<option value = "mikrotukihenkilö">Mikrotukihenkilö</option>
<option value = "monistaja">Monistaja</option>
<option value = "murskaamontyopaallikkö">Murskaamon työpäällikkö</option>
<option value = "museoamanuenssi">Museoamanuenssi</option>
<option value = "musiikinopettaja">Musiikinopettaja</option>
<option value = "muurari">Muurari</option>
<option value = "muusikko">Muusikko</option>
<option value = "muuttomies">Muuttomies</option>
<option value = "myllari">Mylläri</option>
<option value = "myyjä">Myyjä</option>
<option value = "myymalankassanhoitaja">Myymälän kassanhoitaja</option>
<option value = "myymalanhoitaja">Myymälänhoitaja</option>
<option value = "myymalasuunnittelija">Myymäläsuunnittelija</option>
<option value = "myynninedistajä">Myynninedistäjä</option>
<option value = "myyntiedustaja">Myyntiedustaja</option>
<option value = "myyntineuvottelija">Myyntineuvottelija</option>
<option value = "myyntipaallikkö">Myyntipäällikkö</option>
<option value = "mankimies">Mänkimies</option>
<option value = "nahkuri">Nahkuri</option>
<option value = "naprapaatti">Naprapaatti</option>
<option value = "neurologi">Neurologi</option>
<option value = "neuropsykologi">Neuropsykologi</option>
<option value = "neuvontainsinoori">Neuvontainsinööri</option>
<option value = "nimismies">Nimismies</option>
<option value = "nosturinkuljettaja">Nosturinkuljettaja</option>
<option value = "notaari">Notaari</option>
<option value = "notariaattisihteeri">Notariaattisihteeri</option>
<option value = "nuohooja">Nuohooja</option>
<option value = "nuoriso-ohjaaja">Nuoriso-ohjaaja</option>
<option value = "nayttelijä">Näyttelijä</option>
<option value = "nayttamomestari">Näyttämömestari</option>
<option value = "ohjaaja (hoito- jasosiaaliala)">Ohjaaja (hoito- ja sosiaaliala)</option>
<option value = "ohjaaja (teatteri- jaelokuva-ala)">Ohjaaja (teatteri- ja elokuva-ala)</option>
<option value = "ohjelmistoarkkitehti">Ohjelmistoarkkitehti</option>
<option value = "ohjelmistoasiantuntija">Ohjelmistoasiantuntija</option>
<option value = "ohjelmistopaallikkö">Ohjelmistopäällikkö</option>
<option value = "ohjelmistosuunnittelija">Ohjelmistosuunnittelija</option>
<option value = "ohjelmoija">Ohjelmoija</option>
<option value = "oikolukija">Oikolukija</option>
<option value = "ompelija-artesaani">Ompelija-artesaani</option>
<option value = "opaskoirankouluttaja">Opaskoirankouluttaja</option>
<option value = "opettaja">Opettaja</option>
<option value = "opinto-ohjaaja">Opinto-ohjaaja</option>
<option value = "optikko">Optikko</option>
<option value = "osastonhoitaja">Osastonhoitaja</option>
<option value = "osastopaallikkö">Osastopäällikkö</option>
<option value = "ostaja">Ostaja</option>
<option value = "osteopaatti">Osteopaatti</option>
<option value = "painaja">Painaja</option>
<option value = "painopinnanvalmistaja">Painopinnan valmistaja</option>
<option value = "pakkaaja">Pakkaaja</option>
<option value = "pakettiautonkuljettaja">Pakettiautonkuljettaja</option>
<option value = "palkanlaskija">Palkanlaskija</option>
<option value = "pallittaja">Pallittaja</option>
<option value = "palomestari">Palomestari</option>
<option value = "palomies">Palomies</option>
<option value = "palopaallikkö">Palopäällikkö</option>
<option value = "palotarkastaja">Palotarkastaja</option>
<option value = "palovartija">Palovartija</option>
<option value = "palveluesimies">Palveluesimies</option>
<option value = "pankinjohtaja">Pankinjohtaja</option>
<option value = "pankkiiri">Pankkiiri</option>
<option value = "pankkitoimihenkilö">Pankkitoimihenkilö</option>
<option value = "panimomestari">Panimomestari</option>
<option value = "pankkilakimies">Pankkilakimies</option>
<option value = "panostaja">Panostaja</option>
<option value = "pappi">Pappi</option>
<option value = "parfymoori">Parfymööri</option>
<option value = "parisuhdeneuvoja">Parisuhdeneuvoja</option>
<option value = "parturi">Parturi</option>
<option value = "parturi-kampaaja">Parturi-kampaaja</option>
<option value = "pastori">Pastori</option>
<option value = "patologi">Patologi</option>
<option value = "patriarkka">Patriarkka</option>
<option value = "pelinhoitaja">Pelinhoitaja</option>
<option value = "peliohjelmoija">Peliohjelmoija</option>
<option value = "pelisuunnittelija">Pelisuunnittelija</option>
<option value = "peltiseppä">Peltiseppä</option>
<option value = "perhehoitaja">Perhehoitaja</option>
<option value = "perheneuvolapsykologi">Perheneuvolapsykologi</option>
<option value = "perhepaivahoitaja">Perhepäivähoitaja</option>
<option value = "perheterapeutti">Perheterapeutti</option>
<option value = "personaltrainer">Personal trainer</option>
<option value = "perushoitaja">Perushoitaja</option>
<option value = "peramies">Perämies</option>
<option value = "pianonvirittajä">Pianonvirittäjä</option>
<option value = "pienelainhoitaja">Pieneläinhoitaja</option>
<option value = "piirtajä">Piirtäjä</option>
<option value = "piispa">Piispa</option>
<option value = "pizzalahetti">Pizzalähetti</option>
<option value = "poliisi">Poliisi</option>
<option value = "poliitikko">Poliitikko</option>
<option value = "polkupyoraasentaja">Polkupyöräasentaja</option>
<option value = "polkupyoralahetti">Polkupyörälähetti</option>
<option value = "polkupyoramyyjä">Polkupyörämyyjä</option>
<option value = "postinjakaja">Postinjakaja</option>
<option value = "postinlajittelija">Postinlajittelija</option>
<option value = "projektihenkilö">Projektihenkilö</option>
<option value = "projekti-insinoori">Projekti-insinööri</option>
<option value = "projektipaallikkö">Projektipäällikkö</option>
<option value = "prosessinhoitaja">Prosessinhoitaja</option>
<option value = "prostituoitu">Prostituoitu</option>
<option value = "proviisori">Proviisori</option>
<option value = "psykolingvisti">Psykolingvisti</option>
<option value = "psykologi">Psykologi</option>
<option value = "puhelinvaihteenhoitaja">Puhelinvaihteen hoitaja</option>
<option value = "puheterapeutti">Puheterapeutti</option>
<option value = "puhelinmyyjä">Puhelinmyyjä</option>
<option value = "purseri">Purseri</option>
<option value = "putkiasentaja">Putkiasentaja</option>
<option value = "puuseppä">Puuseppä</option>
<option value = "puutarhuri">Puutarhuri</option>
<option value = "puuveneveistajä">Puuveneveistäjä</option>
<option value = "pyoveli">Pyöveli</option>
<option value = "paivakotiapulainen">Päiväkotiapulainen</option>
<option value = "paatoimittaja">Päätoimittaja</option>
<option value = "radioinsinoori">Radioinsinööri</option>
<option value = "radio- jatv-asentaja">Radio- ja tv-asentaja</option>
<option value = "rahastaja">Rahastaja</option>
<option value = "rahoitusjohtaja">Rahoitusjohtaja</option>
<option value = "raitiovaununkuljettaja">Raitiovaununkuljettaja</option>
<option value = "raittiussihteeri">Raittiussihteeri</option>
<option value = "rajatarkastaja">Rajatarkastaja</option>
<option value = "rajavartija">Rajavartija</option>
<option value = "rakennesuunnittelija">Rakennesuunnittelija</option>
<option value = "rakennusapumies">Rakennusapumies</option>
<option value = "rakennusarkkitehti">Rakennusarkkitehti</option>
<option value = "rakennusinsinoori">Rakennusinsinööri</option>
<option value = "rakennusmaalari">Rakennusmaalari</option>
<option value = "rakennusmestari">Rakennusmestari</option>
<option value = "rakennusnosturinkuljettaja">Rakennusnosturinkuljettaja</option>
<option value = "rakennuspeltiseppä">Rakennuspeltiseppä</option>
<option value = "rakennussahkosuunnittelija">Rakennussähkösuunnittelija</option>
<option value = "rakennussuunnittelija">Rakennussuunnittelija</option>
<option value = "rakennustyontekijä">Rakennustyöntekijä</option>
<option value = "rakennuttaja-asiamies">Rakennuttaja-asiamies</option>
<option value = "raskaskalustoasentaja">Raskaskalustoasentaja</option>
<option value = "rassaaja">Rassaaja</option>
<option value = "ratatyontekijä">Ratatyöntekijä</option>
<option value = "ratsastuksenopettaja">Ratsastuksenopettaja</option>
<option value = "rauhantarkkailija">Rauhantarkkailija</option>
<option value = "rauhanturvaaja">Rauhanturvaaja</option>
<option value = "rauhantutkija">Rauhantutkija</option>
<option value = "rautakauppias">Rautakauppias</option>
<option value = "ravintoasiantuntija">Ravintoasiantuntija</option>
<option value = "ravintolapaallikkö">Ravintolapäällikkö</option>
<option value = "ravivalmentaja">Ravivalmentaja</option>
<option value = "ravitsemusterapeutti">Ravitsemusterapeutti</option>
<option value = "rehtori">Rehtori</option>
<option value = "rikostoimittaja">Rikostoimittaja</option>
<option value = "roskakuski">Roskakuski</option>
<option value = "runoilija">Runoilija</option>
<option value = "ryhmaesimies">Ryhmäesimies</option>
<option value = "räatali">Räätäli</option>
<option value = "rontgenhoitaja">Röntgenhoitaja</option>
<option value = "royslaajä">Röyslääjä</option>
<option value = "sairaala-apulainen">Sairaala-apulainen</option>
<option value = "sairaalafyysikko">Sairaalafyysikko</option>
<option value = "sairaanhoitaja">Sairaanhoitaja</option>
<option value = "sairaankuljettaja">Sairaankuljettaja</option>
<option value = "sanoittaja">Sanoittaja</option>
<option value = "santarmi">Santarmi</option>
<option value = "sarjakuvakasikirjoittaja">Sarjakuvakäsikirjoittaja</option>
<option value = "sarjakuvapiirtajä">Sarjakuvapiirtäjä</option>
<option value = "savensotkija">Savensotkija</option>
<option value = "savenvalaja">Savenvalaja</option>
<option value = "savusukeltaja">Savusukeltaja</option>
<option value = "seksuaalineuvoja">Seksuaalineuvoja</option>
<option value = "seksuaaliterapeutti">Seksuaaliterapeutti</option>
<option value = "selostaja">Selostaja</option>
<option value = "seppä">Seppä</option>
<option value = "setittajä">Setittäjä</option>
<option value = "seurakuntalehtori">Seurakuntalehtori</option>
<option value = "seurakuntamestari">Seurakuntamestari</option>
<option value = "sihteeri">Sihteeri</option>
<option value = "siirtoinsinoori">Siirtoinsinööri</option>
<option value = "siirtoteknikko">Siirtoteknikko</option>
<option value = "siivooja">Siivooja</option>
<option value = "siivoustyonjohtaja">Siivoustyönjohtaja</option>
<option value = "silmäläakari">Silmälääkäri</option>
<option value = "sisustusarkkitehti">Sisustusarkkitehti</option>
<option value = "sisustussuunnittelija">Sisustussuunnittelija</option>
<option value = "siviilipoliisi">Siviilipoliisi</option>
<option value = "skreenintekijä">Skreenintekijä</option>
<option value = "somistaja">Somistaja</option>
<option value = "sommelier">Sommelier</option>
<option value = "sorvari">Sorvari</option>
<option value = "sosiaalihoitaja">Sosiaalihoitaja</option>
<option value = "sosiaalijohtaja">Sosiaalijohtaja</option>
<option value = "sosiaalikasvattaja">Sosiaalikasvattaja</option>
<option value = "sosiaaliohjaaja">Sosiaaliohjaaja</option>
<option value = "sosiaalityontekijä">Sosiaalityöntekijä</option>
<option value = "sosiologi">Sosiologi</option>
<option value = "sosionomi">Sosionomi</option>
<option value = "sotilas">Sotilas</option>
<option value = "strippari">Strippari</option>
<option value = "stuertti">Stuertti</option>
<option value = "sukeltaja">Sukeltaja</option>
<option value = "suklaamestari">Suklaamestari</option>
<option value = "suntio">Suntio</option>
<option value = "suuhygienisti">Suuhygienisti</option>
<option value = "suunnittelija">Suunnittelija</option>
<option value = "suunnitteluesimies">Suunnitteluesimies</option>
<option value = "suunnitteluinsinoori">Suunnitteluinsinööri</option>
<option value = "suunnittelupaallikkö">Suunnittelupäällikkö</option>
<option value = "suutari">Suutari</option>
<option value = "stylisti">Stylisti</option>
<option value = "syynaajä">Syynääjä</option>
<option value = "syyttajä">Syyttäjä</option>
<option value = "sahkoasentaja">Sähköasentaja</option>
<option value = "sahkoasentajienesimies">Sähköasentajien esimies</option>
<option value = "sahköinsinoori">Sähköinsinööri</option>
<option value = "sahkosuunnittelija">Sähkösuunnittelija</option>
<option value = "sähkosuunnittelunprojektipaallikkö">Sähkösuunnittelun projektipäällikkö</option>
<option value = "sahkotoidenprojektinhoitaja">Sähkötöiden projektinhoitaja</option>
<option value = "sahkotyonjohtaja">Sähkötyönjohtaja</option>
<option value = "sähkovoimatekniikanprojektipaallikkö">Sähkövoimatekniikan projektipäällikkö</option>
<option value = "särmaajä">Särmääjä</option>
<option value = "saveltajä">Säveltäjä</option>
<option value = "taidemaalari">Taidemaalari</option>
<option value = "taideterapeutti">Taideterapeutti</option>
<option value = "taikuri">Taikuri</option>
<option value = "taksinkuljettaja">Taksinkuljettaja</option>
<option value = "taksitarkastaja">Taksitarkastaja</option>
<option value = "tallentaja">Tallentaja</option>
<option value = "talonmies">Talonmies</option>
<option value = "talousjohtaja">Talousjohtaja</option>
<option value = "tanssija">Tanssija</option>
<option value = "tanssinopettaja">Tanssinopettaja</option>
<option value = "tarjoilija">Tarjoilija</option>
<option value = "tarkastaja">Tarkastaja</option>
<option value = "tarkastusinsinoori">Tarkastusinsinööri</option>
<option value = "tasoitemies">Tasoitemies</option>
<option value = "tatuoija">Tatuoija</option>
<option value = "teatteri-ilmaisunohjaaja">Teatteri-ilmaisun ohjaaja</option>
<option value = "teknikko">Teknikko</option>
<option value = "teknillinenmekaaniikkataitaja">Teknillinen mekaaniikkataitaja</option>
<option value = "tekninenjohtaja">Tekninen johtaja</option>
<option value = "tekninenkirjoittaja">Tekninen kirjoittaja</option>
<option value = "tekninenpiirtajä">Tekninen piirtäjä</option>
<option value = "tekninentuotepaallikkö">Tekninen tuotepäällikkö</option>
<option value = "teknisen tyonopettaja">Teknisen työn opettaja</option>
<option value = "tekstiilityonopettaja">Tekstiilityön opettaja</option>
<option value = "tekstinkasittelijä">Tekstinkäsittelijä</option>
<option value = "tekstisuunnittelija">Tekstisuunnittelija</option>
<option value = "televisioinsinoori">Televisioinsinööri</option>
<option value = "teollinenmuotoilija">Teollinen muotoilija</option>
<option value = "teollisuusapumies">Teollisuusapumies</option>
<option value = "teollisuussiivooja">Teollisuussiivooja</option>
<option value = "teollisuusvartija">Teollisuusvartija</option>
<option value = "terapeutti">Terapeutti</option>
<option value = "terminaalityontekijä">Terminaalityöntekijä</option>
<option value = "terveydenhoitaja">Terveydenhoitaja</option>
<option value = "terveysjohtaja">Terveysjohtaja</option>
<option value = "terveyskeskuspsykologi">Terveyskeskuspsykologi</option>
<option value = "terveystarkastaja">Terveystarkastaja</option>
<option value = "teurastaja">Teurastaja</option>
<option value = "tiedottaja">Tiedottaja</option>
<option value = "tieinsinoori">Tieinsinööri</option>
<option value = "tiemestari">Tiemestari</option>
<option value = "tietekniikanprojektipaallikkö">Tietekniikan projektipäällikkö</option>
<option value = "tietohallintopaallikkö">Tietohallintopäällikkö</option>
<option value = "tietokirjailija">Tietokirjailija</option>
<option value = "tietokoneasentaja">Tietokoneasentaja</option>
<option value = "tietoliikenneasentaja">Tietoliikenneasentaja</option>
<option value = "tietopalvelupaallikkö">Tietopalvelupäällikkö</option>
<option value = "tietoturva-asiantuntija">Tietoturva-asiantuntija</option>
<option value = "tietoturvajohtaja">Tietoturvajohtaja</option>
<option value = "tiimipaallikkö">Tiimipäällikkö</option>
<option value = "tilintarkastaja">Tilintarkastaja</option>
<option value = "tiskijukka(dj)">Tiskijukka (DJ)</option>
<option value = "toimialapaallikkö">Toimialapäällikkö</option>
<option value = "toiminnanohjaaja">Toiminnanohjaaja</option>
<option value = "toimintaterapeutti">Toimintaterapeutti</option>
<option value = "toimistoarkkitehti">Toimistoarkkitehti</option>
<option value = "toimistoinsinoori">Toimistoinsinööri</option>
<option value = "toimistopaallikkö">Toimistopäällikkö</option>
<option value = "toimistosihteeri">Toimistosihteeri</option>
<option value = "toimistovirkailija">Toimistovirkailija</option>
<option value = "toimitilahuoltaja">Toimitilahuoltaja</option>
<option value = "toimittaja">Toimittaja</option>
<option value = "toimitusjohtaja">Toimitusjohtaja</option>
<option value = "toimitussihteeri">Toimitussihteeri</option>
<option value = "torimyyjä">Torimyyjä</option>
<option value = "tradenomi">Tradenomi</option>
<option value = "treidaaja">Treidaaja</option>
<option value = "tuholaistorjuja">Tuholaistorjuja</option>
<option value = "tukkumyyjä">Tukkumyyjä</option>
<option value = "tulkki">Tulkki</option>
<option value = "tullaaja">Tullaaja</option>
<option value = "tullivartija">Tullivartija</option>
<option value = "tunneliporaaja">Tunneliporaaja</option>
<option value = "tuomari">Tuomari</option>
<option value = "tuomioistuinlakimies">Tuomioistuinlakimies</option>
<option value = "tuotantoinsinoori">Tuotantoinsinööri</option>
<option value = "tuotantopaallikkö">Tuotantopäällikkö</option>
<option value = "tuotekehitysinsinoori">Tuotekehitysinsinööri</option>
<option value = "tuotepaallikkö">Tuotepäällikkö</option>
<option value = "tuottaja">Tuottaja</option>
<option value = "turkistarhaaja">Turkistarhaaja</option>
<option value = "turkkuri">Turkkuri</option>
<option value = "turvallisuusvalvoja">Turvallisuusvalvoja</option>
<option value = "tutkija">Tutkija</option>
<option value = "tutkimusassistentti">Tutkimusassistentti</option>
<option value = "tutkimushaastattelija">Tutkimushaastattelija</option>
<option value = "tutkijainsinoori">Tutkijainsinööri</option>
<option value = "tyoelamaasiantuntija">Työelämäasiantuntija</option>
<option value = "tyokaluviilaaja">Työkaluviilaaja</option>
<option value = "työmaainsinoori">Työmaainsinööri</option>
<option value = "tyomaamestari">Työmaamestari</option>
<option value = "tyonjohtaja">Työnjohtaja</option>
<option value = "tyopaallikkö">Työpäällikkö</option>
<option value = "tyoterveysläakari">Työterveyslääkäri</option>
<option value = "tyovoimaneuvoja">Työvoimaneuvoja</option>
<option value = "tyovoimaohjaaja">Työvoimaohjaaja</option>
<option value = "tyovuorosuunnittelija">Työvuorosuunnittelija</option>
<option value = "tahtitieteilijä">Tähtitieteilijä</option>
<option value = "uimaopettaja">Uimaopettaja</option>
<option value = "uinninvalvoja">Uinninvalvoja</option>
<option value = "uittomies">Uittomies</option>
<option value = "ulosottomies">Ulosottomies</option>
<option value = "uniterapeutti">Uniterapeutti</option>
<option value = "upseeri">Upseeri</option>
<option value = "urakoitsija">Urakoitsija</option>
<option value = "urheilija">Urheilija</option>
<option value = "urheiluhieroja">Urheiluhieroja</option>
<option value = "urheiluohjaaja">Urheiluohjaaja</option>
<option value = "urheilutoimittaja">Urheilutoimittaja</option>
<option value = "urheiluvalmentaja">Urheiluvalmentaja</option>
<option value = "uskonnonopettaja">Uskonnon opettaja</option>
<option value = "vaatesuunnittelija">Vaatesuunnittelija</option>
<option value = "vaatturi">Vaatturi</option>
<option value = "vahinkokartoittaja">Vahinkokartoittaja</option>
<option value = "vahtimestari">Vahtimestari</option>
<option value = "vaihdemies">Vaihdemies</option>
<option value = "vaihteenhoitaja">Vaihteenhoitaja</option>
<option value = "vakuutusmeklari">Vakuutusmeklari</option>
<option value = "vakuutusvirkailija">Vakuutusvirkailija</option>
<option value = "valaistusmestari">Valaistusmestari</option>
<option value = "valaistustarkkailija">Valaistustarkkailija</option>
<option value = "valaja">Valaja</option>
<option value = "valokuvaaja">Valokuvaaja</option>
<option value = "valokuvamalli">Valokuvamalli</option>
<option value = "valomies">Valomies</option>
<option value = "valtiosihteeri">Valtiosihteeri</option>
<option value = "valumallinvalmistaja">Valumallinvalmistaja</option>
<option value = "valvonta-arkkitehti">Valvonta-arkkitehti</option>
<option value = "vammaisohjaaja">Vammaisohjaaja</option>
<option value = "vanginvartija">Vanginvartija</option>
<option value = "varastomies">Varastomies</option>
<option value = "varastonhoitaja">Varastonhoitaja</option>
<option value = "varastotyontekijä">Varastotyöntekijä</option>
<option value = "varatilintarkastaja">Varatilintarkastaja</option>
<option value = "vartija">Vartija</option>
<option value = "vaskiseppä">Vaskiseppä</option>
<option value = "vastaanottovirkailija">Vastaanottovirkailija</option>
<option value = "vastaavamestari">Vastaava mestari</option>
<option value = "vastaavatyomaamestari">Vastaava työmaamestari</option>
<option value = "vastaavatyonjohtaja">Vastaava työnjohtaja</option>
<option value = "vaylatekniikanasiantuntija">Väylätekniikan asiantuntija</option>
<option value = "veneenrakentaja">Veneenrakentaja</option>
<option value = "verhoilija">Verhoilija</option>
<option value = "verovirkailija">Verovirkailija</option>
<option value = "vesihuoltoalanasiantuntija">Vesihuoltoalan asiantuntija</option>
<option value = "veturinkuljettaja">Veturinkuljettaja</option>
<option value = "viemarisukeltaja">Viemärisukeltaja</option>
<option value = "viittomakielenohjaaja">Viittomakielen ohjaaja</option>
<option value = "viittomakielentulkki">Viittomakielen tulkki</option>
<option value = "virkailija">Virkailija</option>
<option value = "voimalaitospaallikkö">Voimalaitospäällikkö</option>
<option value = "vuorotyonjohtaja">Vuorotyönjohtaja</option>
<option value = "vahittaiskauppias">Vähittäiskauppias</option>
<option value = "valinehuoltaja">Välinehuoltaja</option>
<option value = "webmaster">Webmaster</option>
<option value = "yhdyskuntatekniikaninsinoori">Yhdyskuntatekniikan insinööri</option>
<option value = "yhdyskuntatekniikanrakennusmestari">Yhdyskuntatekniikan rakennusmestari</option>
<option value = "yhteiskuntatutkija">Yhteiskuntatutkija</option>
<option value = "yhteisopedagogi">Yhteisöpedagogi</option>
<option value = "yhteyssihteeri">Yhteyssihteeri</option>
<option value = "yksikonpaallikkö">Yksikön päällikkö</option>
<option value = "yksityisetsivä">Yksityisetsivä</option>
<option value = "yksityisyrittajä">Yksityisyrittäjä</option>
<option value = "yliläakari">Ylilääkäri</option>
<option value = "yliopettaja">Yliopettaja</option>
<option value = "yliopisto-opettaja">Yliopisto-opettaja</option>
<option value = "ylipanostaja">Ylipanostaja</option>
<option value = "ylivahtimestari">Ylivahtimestari</option>
<option value = "ymparistonsuojelusihteeri">Ympäristönsuojelusihteeri</option>
<option value = "ymparistonsuojelutarkastaja">Ympäristönsuojelutarkastaja</option>
<option value = "yrittajä">Yrittäjä</option>
<option value = "yrityslakimies">Yrityslakimies</option>
<option value = "aidinkielenopettaja">Äidinkielen opettaja</option>
<option value = "aanisuunnittelija">Äänisuunnittelija</option>
<option value = "aanitarkkailija">Äänitarkkailija</option>
<option value = "aanittajä">Äänittäjä</option>
</select>
        <p><label for="exliitto"><b>Ex-liittosi *</b></label>
            <input name="exliitto" id="exliitto" type="text" tabindex="7" required></p>
        <p><label for="vuositulo"><b>Vuositulosi *</b></label>
            <input name="vuositulo" id="vuositulo" type="text" tabindex="8" required></p>            
            
        <p><label for="hetu"><b>Henkilötunnuksesi *</b></label>
            <input name="hetu" id="hetu" type="hetu" tabindex="9" required></p>
            
        <p><label for="email"><b>Sähköpostiosoitteesi *</b></label>
            <input name="email" id="email" type="email" tabindex="10" required></p>
        <p><label for="phone"><b>Puhelinnumerosi *</b></label>
            <input name="phone" id="phone" type="tel" tabindex="11" required></p>

        <p><label for="message"><b>Viestisi</b></label>
            <textarea name="message" id="message" style="padding: 0.5rem; width: 100%; max-width: 100%"
                placeholder="Mahdollinen viestisi hallitukselle (vapaaehtoinen). Jos ammattiasi ei ole listalla, anna se tässä." tabindex="12" rows="10"></textarea></p>
            <input type="hidden" name="_language" value="fi" />

        <button class="button" name="submit" type="submit" id="contact-submit"
            data-submit="...Lähettää">Lähetä jäsenanomuksesi</button>
    </form>
</div>


<style>
    #jaseneksi {
        margin-top: 1rem;
    }
    #jaseneksi input,
    #jaseneksi textarea {
        width: 30rem;
        max-width: 100%;
    }
</style>